div#interface {
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.4);
}

ul#menuBoleto {
margin-left: 465px;
margin-top: 1px;
padding: 5px;
border-top: none;
}

ul#parcelas {
  margin-top: -20px;
  margin-left: 15px;
  padding-left: 5px;
  }

ul#parcelas li:hover {
  background-color: #dddddd;
  }
